lab4/Task 4/flows_task4.json
[{"id":"76d83d74914751fb","type":"tab","label":"Final Task","disabled":false,"info":"","env":[]},{"id":"42838ab26add0e47","type":"debug","z":"76d83d74914751fb","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":420,"wires":[]},{"id":"fc17f88bb258d0b5","type":"debug","z":"76d83d74914751fb","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":540,"wires":[]},{"id":"6af5596fc4da280b","type":"debug","z":"76d83d74914751fb","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":660,"wires":[]},{"id":"a71cb5b9302e5c62","type":"debug","z":"76d83d74914751fb","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":300,"wires":[]},{"id":"6069013a1f72262d","type":"function","z":"76d83d74914751fb","name":"function 4","func":"msg.measurement = \"mq5\";\n\nvar raw      = Number(msg.payload.raw);\nvar avg      = Number(msg.payload.avg);\nvar voltage  = Number(msg.payload.voltage);\nvar risk_num = Number(msg.payload.risk_num);\n\nif (isNaN(raw) || isNaN(avg) || isNaN(voltage) || isNaN(risk_num)) return null;\n\nmsg.payload = {\n    raw:      raw,\n    avg:      avg,\n    voltage:  voltage,\n    risk_num: risk_num\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":360,"wires":[["00941dbc903cc7fe","42838ab26add0e47"]]},{"id":"4f650b3f88a806fe","type":"function","z":"76d83d74914751fb","name":"function 5","func":"msg.measurement = \"mlx90614\";\nmsg.payload = {\n    ambient_temp: Number(msg.payload.ambient_temp),\n    body_temp: Number(msg.payload.body_temp),\n    fever_flag: Number(msg.payload.fever_flag)\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":480,"wires":[["f3b60ff51846a6d3","fc17f88bb258d0b5"]]},{"id":"369cefd6b8c43857","type":"function","z":"76d83d74914751fb","name":"function 6","func":"msg.measurement = \"bmp280\";\n\nvar temperature = Number(msg.payload.temperature);\nvar pressure = Number(msg.payload.pressure);\nvar altitude = Number(msg.payload.altitude);\nvar epoch = Number(msg.payload.epoch);\n\nnode.warn(\"temperature: \" + temperature);\nnode.warn(\"pressure: \" + pressure);\nnode.warn(\"altitude: \" + altitude);\nnode.warn(\"epoch: \" + epoch);\n\nif (isNaN(temperature) || isNaN(pressure) || isNaN(altitude) || isNaN(epoch)) {\n    node.warn(\"BLOCKED — NaN detected\");\n    return null;\n}\n\nmsg.payload = {\n    temperature: temperature,\n    pressure: pressure,\n    altitude: altitude,\n    epoch: epoch\n};\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":600,"wires":[["fea28e99efb09487","6af5596fc4da280b"]]},{"id":"2b587a88c786c525","type":"mqtt in","z":"76d83d74914751fb","name":"","topic":"/aupp/esp32/mq5","qos":"0","datatype":"auto-detect","broker":"7d4621058b7dbf93","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":300,"wires":[["a71cb5b9302e5c62","6069013a1f72262d"]]},{"id":"00941dbc903cc7fe","type":"influxdb out","z":"76d83d74914751fb","influxdb":"906560d3f4750ec6","name":"","measurement":"mq5","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1220,"y":360,"wires":[]},{"id":"f3b60ff51846a6d3","type":"influxdb out","z":"76d83d74914751fb","influxdb":"906560d3f4750ec6","name":"","measurement":"mlx90614","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1240,"y":480,"wires":[]},{"id":"fea28e99efb09487","type":"influxdb out","z":"76d83d74914751fb","influxdb":"906560d3f4750ec6","name":"","measurement":"bmp280","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1240,"y":600,"wires":[]},{"id":"eabda6a70eb6e3be","type":"mqtt in","z":"76d83d74914751fb","name":"","topic":"/aupp/esp32/mlx90614","qos":"0","datatype":"auto-detect","broker":"7d4621058b7dbf93","nl":false,"rap":true,"rh":0,"inputs":0,"x":260,"y":420,"wires":[["4f650b3f88a806fe"]]},{"id":"cc46dd97e8f13910","type":"mqtt in","z":"76d83d74914751fb","name":"","topic":"/aupp/esp32/bmp280","qos":"0","datatype":"auto-detect","broker":"7d4621058b7dbf93","nl":false,"rap":true,"rh":0,"inputs":0,"x":260,"y":540,"wires":[["369cefd6b8c43857"]]},{"id":"7d4621058b7dbf93","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"906560d3f4750ec6","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"aupp_lab","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","timeout":10,"rejectUnauthorized":true},{"id":"4843fd95405b966c","type":"global-config","env":[],"modules":{"node-red-contrib-influxdb":"0.7.0"}}]