lab4/Task 2/flows_task2.json
[{"id":"ba7424f3464f381b","type":"tab","label":"Task 2","disabled":false,"info":"","env":[]},{"id":"6c5bce99c0852752","type":"function","z":"ba7424f3464f381b","name":"function 1","func":"msg.measurement = \"mq5\";\n\nmsg.payload = {\n    raw: Number(msg.payload.raw), \n    avg: Number(msg.payload.avg), \n    voltage: Number(msg.payload.voltage), \n    risk_level: msg.payload.risk_level  \n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":520,"wires":[["ae1381c40aa4925e","f6de54ea935f959f"]]},{"id":"e79570410eb7986c","type":"mqtt in","z":"ba7424f3464f381b","name":"","topic":"/aupp/esp32/mq5","qos":"0","datatype":"auto-detect","broker":"7d4621058b7dbf93","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":440,"wires":[["6c5bce99c0852752","1a5b0f6324e0e273"]]},{"id":"1a5b0f6324e0e273","type":"debug","z":"ba7424f3464f381b","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":440,"wires":[]},{"id":"f6de54ea935f959f","type":"debug","z":"ba7424f3464f381b","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":520,"y":620,"wires":[]},{"id":"ae1381c40aa4925e","type":"influxdb out","z":"ba7424f3464f381b","influxdb":"906560d3f4750ec6","name":"","measurement":"mq5","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":600,"y":520,"wires":[]},{"id":"7d4621058b7dbf93","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"906560d3f4750ec6","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"aupp_lab","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","timeout":10,"rejectUnauthorized":true},{"id":"ca44eb0379e68eda","type":"global-config","env":[],"modules":{"node-red-contrib-influxdb":"0.7.0"}}]