lab4/Task 1/flows_task1.json
[{"id":"3e66a374190cd518","type":"tab","label":"Task 1 (mq5)","disabled":false,"info":"","env":[]},{"id":"1f7220e149a88e97","type":"mqtt in","z":"3e66a374190cd518","name":"","topic":"/aupp/esp32/mq5","qos":"0","datatype":"auto-detect","broker":"7d4621058b7dbf93","nl":false,"rap":true,"rh":0,"inputs":0,"x":520,"y":420,"wires":[["64d3743041e0c117","4c6c719940ee7aaa"]]},{"id":"4c6c719940ee7aaa","type":"function","z":"3e66a374190cd518","name":"function 2","func":"msg.measurement = \"mq5\";\n\nmsg.payload = {\n    raw: Number(msg.payload.raw), \n    avg: Number(msg.payload.avg), \n    voltage: Number(msg.payload.voltage)\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":540,"wires":[["49485751f2b86c69","b7dcab70304d3b6d"]]},{"id":"64d3743041e0c117","type":"debug","z":"3e66a374190cd518","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":420,"wires":[]},{"id":"49485751f2b86c69","type":"debug","z":"3e66a374190cd518","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":640,"wires":[]},{"id":"b7dcab70304d3b6d","type":"influxdb out","z":"3e66a374190cd518","influxdb":"01bbb93331b7a3b5","name":"","measurement":"mq5","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1030,"y":540,"wires":[]},{"id":"7d4621058b7dbf93","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"01bbb93331b7a3b5","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"task1","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","timeout":10,"rejectUnauthorized":true},{"id":"e3a93251eaa40d4a","type":"global-config","env":[],"modules":{"node-red-contrib-influxdb":"0.7.0"}}]