lab4/Task 3/flows_task3.json
[{"id":"998f3569a79ab0dd","type":"tab","label":"Task 3","disabled":false,"info":"","env":[]},{"id":"c395824a8cef9fc6","type":"influxdb out","z":"998f3569a79ab0dd","influxdb":"906560d3f4750ec6","name":"","measurement":"mlx90614","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":600,"y":360,"wires":[]},{"id":"2feb6a6c6fd52d42","type":"debug","z":"998f3569a79ab0dd","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":240,"wires":[]},{"id":"c9bb599de8b57fab","type":"function","z":"998f3569a79ab0dd","name":"function 3","func":"msg.measurement = \"mlx90614\";\n\nmsg.payload = {\n    ambient_temp: Number(msg.payload.ambient_temp),\n    body_temp: Number(msg.payload.body_temp),\n    fever_flag: Number(msg.payload.fever_flag) \n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":360,"wires":[["c395824a8cef9fc6","85f1736f7b601630"]]},{"id":"85f1736f7b601630","type":"debug","z":"998f3569a79ab0dd","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":460,"wires":[]},{"id":"796c231d9021fe2d","type":"mqtt in","z":"998f3569a79ab0dd","name":"","topic":"/aupp/esp32/mlx90614","qos":"0","datatype":"auto-detect","broker":"ea3863cb2b12ef9b","nl":false,"rap":true,"rh":0,"inputs":0,"x":220,"y":240,"wires":[["2feb6a6c6fd52d42","c9bb599de8b57fab"]]},{"id":"906560d3f4750ec6","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"aupp_lab","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","timeout":10,"rejectUnauthorized":true},{"id":"ea3863cb2b12ef9b","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"0681577b18feb06a","type":"global-config","env":[],"modules":{"node-red-contrib-influxdb":"0.7.0"}}]